{{ firstName }}, обратите внимание!
Уже прошло {{ warning_days }} дней со дня вашей регистрации.
Напоминаем что если в течении {{ remove_days }} дней вы не подадите ниединой заявки на участие, Ваша учетная запись будет удалена.
Чем больше заявок, тем больше шансов на уастие!