{% extends 'layout.twig' %}
{% block content %}
    <div class="container">
        <h1>О Нас</h1>

        <p>Уважаемые друзья!</p>

        <p>Каждый из нас видит и понимает, что мир разделился на богатых и бедных.
            Причем, богатых не более 2%! Еще 5-8% - это люди, которые могут себе позволить один-два раза в году,
            провести отпуск на богатых зарубежных курортах! Еще 8-10% – это люди с невысоким достатком,
            позволяющим отложить свои сбережения на недорогие поездки в Египет или в Турцию,
            но не более чем один раз в 2-4 года! Итого – 15-20%, остальные 80-85%  – это мы с вами,
            которые с трудом «дотягивают» от зарплаты до зарплаты! Многие даже боятся мечтать о том,
            чтобы провести отпуск в самых дешевых курортах своей страны, не говоря уже о поездках в Египет или Турцию!!!</p>

        <p>Наша компания запускает новый телевизионный проект – Реалити-шоу «В ОТПУСК МИЛЛИОНЕРОМ»!</p>

        <p>Любой человек, достигший возраста 18 лет, желающий почувствовать себя на 8-10 дней миллионером,
            может провести свой отпуск в самых престижных местах отдыха таких, как Багамы, Бали, Гавайи, Гоа, Мальдивы,
            Таиланд и многих других ункальных местах отдыха на планете, осуществлять круиз на великолепных круизных океанских лайнерах по всему миру,
            посещая страны Европы, Северной и Южной Америки, обедать в самых престижных  ресторанах,
            проживать в 5-ти звездочных отелях и многое другое СОВЕРШЕННО  БЕСПЛАТНО!</p>

        <p>В нашем проекте могут принимать участие граждане всех республик бывшего СССР!</p>

        <p>Чтобы принять участие в нашем проекте, вам необходимо зарегистрироваться на нашем сайте,
            ответить на вопросы, оплатить стоимость регистрации и... ждать когда компьтерная программа определит пять счастливых обладателей этого тура!
            Каждый месяц мы будем отправлять новую группу.</p>

        <p>Тот, кому посчастливилось стать участником нашего Реалити-шоу, но в силу разных обстоятельств,
            не могут принять в нем участие (возраст, невозможность самостоятельно передвигаться, паралич или другие причины),
            могут передать право участия в шоу своим родным или друзьям, при условии, что они зарегистрированы на нашем шоу.
            Также, по желанию выигравшего, мы можем заменить ему участие в шоу на отдых или курс лечения в лучших санаториях
            страны оплатив все расходы на лечение и транспортные расходы.</p>

        <p>Зарегистрировавшись один раз, вы заносите необходимую информацию в базу данных и получаете ID (идентификационный номер) и пароль.
            При повторной регистрации, вам необходимо только внести свой номер ID.</p>

        <p>После каждой регистрации, вы получаете регистрационный номер. Вы можете регистрироваться несколько раз и получать несколько регистрационных номеров,
            увеличивая тем самым, ваши шансы на участие в Реалити шоу, так как компьютер выбирает не человека, а регистрационный номер. После отбора компьютером кандидатов,
            с этого момента вся информация обнуляется и можно регистрироваться повторно и испытать свое счастье.</p>

        <p>На все время вашего путешествия, вы станете звездами телеэкрана и в соцсетях: YouTube, Facebook, ВКонтакте, одноклассники, Instagram и др.,
            где любой желающий сможет наблюдать за всеми участниками и ставить свои оценки! Тот из участников, который наберет большее количество баллов в соцсетях,
            по окончании путешествия получает приз – $1,000 долларов США! Каждый вечер за вами будут наблюдать, в какой роскоши вы живете, как проводите время.</p>

        <p>В каждой поездке, группу будут ожидать розыгриши и сюрпризы!</p>

        <p>На все время вашего путешествия, с вами будет группа сопровождения, состоящая из администратора группы, психолога, оператора и ассистента оператора!
            На протяжении всего путешествия, всем участникам будут делать массажи, женщинам прически, макияж, уход за ногтями и многое другое, по вашему желанию!</p>

        <p>Искренне желаем вам удачи!</p>

        <p>Администрация Реалити-шоу</p>

        <p>P.S. Известный литературный герой Остап Бендер, говорил, что знает 400, сравнительно честных способа отъема денег!
            Но время шагнуло вперед и сегодня в мире существуют тысячи, сотни тысяч всевозможных программ, по сравнительно «честному» отъему денег у населения.
            Мы прекрасно осознаем, что наш проект может выглядеть, как самый обычный «лохотрон». И все же, мы хотим вернуть вам веру в то, что существует  немало проектов,
            которые созданы помогать людям и наш проект один из них! И мы верим,
            что со временем наш проект станет одним из самых интересных и будет пользоваться большой популярностью.</p>

        <p>Стоимость регистрации $1.99 доллара, что во многих случаях, не дороже чашечки кофе.</p>

        <p>Кроме всего, каждый, кто зарегистрируется под номером 100 000 или кратное этому номеру, станет счастливым обладателем автомобиля Toyota RAW4 или Toyota“Camry”,
            по желанию выигравшего или получить, сумму денег, эквивалентную стоимости автомобиля!</p>

        <p>Кроме всего, каждый, кто зарегистрируется под номером 1 000 000 или кратное этому номеру, станет счастливым обладателем автомобиля LEXUS RX350 илиMercedes-Benz GLA250,
            по желанию выигравшего или получить, сумму денег, эквивалентную стоимости автомобиля!</p>

        <p>Надеемся на ваше понимание и желаем всем вам удачи!</p>
    </div>

{% endblock %}
