{% extends 'layout.twig' %}
{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">


        {% if error is defined %}

            <div class="row">
                <div class="col-md-12">
                    <div class="secHeader">
                        <h1 class="text-center">Проблемы с авторизацией</h1>
                        <p class="text-center">Возможно Вы ввели неверный id или пароль.</p>
                        <p class="text-center">Напоминаем что по условию договора, если мы не получили оплату в течении 14 дней, хотя бы за одну заявку, ваша учетная запись могла быть удалена в автоматическом режиме.</p>
                    </div>
                </div>
            </div>


        {% elseif success.pass_isset is defined %}

            <div class="row" id="success-form" style="display: none">
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                    <strong>Успех!</strong> Данные успешно обновлены.
                </div>
            </div>

            <div class="row" id="success-form">

                <div class="col-md-12">
                    <div class="secHeader">
                        <h1 class="text-center">Добро пожаловать {{ success.firstName }} !</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="text-center"><img class="profil-image" src="{{ success.photo }}"></div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-md-6 col-xs-6"><b>ID</b></div><div class="col-md-6 col-xs-6">{{ success.id }}</div>
                            <div class="col-md-6 col-xs-6"><b>Фамилия</b></div><div class="col-md-6 col-xs-6">{{ success.lastName }}</div>
                            <div class="col-md-6 col-xs-6"><b>Имя</b></div><div class="col-md-6 col-xs-6">{{ success.firstName }}</div>
                            <div class="col-md-6 col-xs-6"><b>Отчество</b></div><div class="col-md-6 col-xs-6">{% if success.fatherName is empty %} Не указанно {% else %} {{ success.fatherName }} {% endif %}</div>
                            <div class="col-md-6 col-xs-6"><b>Дата рожения</b></div><div class="col-md-6 col-xs-6">{{ success.dateBirth }}</div>
                            <div class="col-md-6 col-xs-6"><b>E-Mail</b></div><div class="col-md-6 col-xs-6">{{ success.email }}</div>
                        </div>
                    </div>
                </div>

                <div class="btn-find-form">
                    <div class="row">
                        <div class="col-md-6 col-xs-12 text-center">
                            <input type="button" class="btn btn-primary" id="data-readd" value="Редактировать данные">
                        </div>
                        <div class="col-md-6 col-xs-12 text-center">
                            <a  href="#" class="btn btn-success" data-toggle="modal" data-target="#Modal-pay">Подать заявку</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" id="form1" style="display: none">
                <div class="col-md-12">
                    <div class="secHeader">
                        <h1 class="text-center">Редактирвоание персональных данных</h1>
                    </div>
                </div>
                <form class="form-horizontal" method="POST" autocomplete="on" accept-charset="utf-8" id="ajaxform">
                    <div class="form-group has-feedback">
                        <label class="control-label col-xs-3" for="lastName">Фамилия:</label>
                        <div class="col-xs-9">
                          {{ success.lastName }}
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-xs-3" for="firstName">Имя:</label>
                        <div class="col-xs-9">
                           {{ success.firstName }}
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-xs-3" for="fatherName">Отчество:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="fatherName" required="required" id="fatherName" placeholder="Введите отчество" value="{% if success.fatherName is not empty %} {{ success.fatherName }} {% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Дата рождения:</label>
                        <div class="col-xs-3">
                            <div class="col-xs-9">
                                 {{ success.dateBirth }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-xs-3" for="inputEmail">Email:</label>
                        <div class="col-xs-9">
                            {{ success.email }}
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-xs-3" for="pasport">Наличие загран паспорта:</label>
                        <div class="col-xs-9">
                            <input type="checkbox" class="checkbox" id="pasport" name="pasport" value="1" {% if success.pasport == 1 %} checked {% endif %}>
                            <label for="pasport"></label>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-xs-3" for="phoneNumber">Телефон:</label>
                        <div class="col-xs-9">
                            <input type="tel" class="form-control" id="phoneNumber" required="required" name="phoneNumber" placeholder="Введите номер телефона в международном формате" value="{% if success.phone is not empty %} {{ success.phone }} {% endif %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3">Где хотите отдыхать?:</label>
                        <div class="col-xs-9">
                            <textarea rows="3" class="form-control" id="country" name="country" placeholder="Какие пожелания у Вас есть? Назовите страны или курорты.">{% if success.country is not empty %} {{ success.country }} {% endif %}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="stars">Каких звезд кино или эстрады хотели бы увидеть?</label>
                        <div class="col-xs-9">
                            <textarea rows="3" class="form-control" id="stars" name="stars" placeholder="Укажите имена через запятую">{% if success.stars is not empty %} {{ success.stars }} {% endif %}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" fot="assist">Необходима ли Вам помощ в передвижении? </label>
                        <div class="col-xs-9">
                            <input type="checkbox" class="checkbox" name="assist" id="assist" {% if success.assist == 1 %} checked {% endif %}>
                            <label for="assist"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" fot="eat">Есть ли у Вас предпочтения в питании?</label>
                        <div class="col-xs-9">
                            <input type="checkbox" class="checkbox" id="eat" {% if success.eat is not empty %} checked="checked"{% endif %}>
                            <label for="eat"></label>
                        </div>
                    </div>
                    <div class="form-group" id="eatForm" style="display: {% if success.eat is not empty %} block {% else %} none {% endif %}">
                        <label class="control-label col-xs-3" for="eatForm">Какие?</label>
                        <div class="col-xs-9">
                            <textarea rows="3" class="form-control" id="eatForm" name="eat" placeholder="Укажите Ваши предпочтения в питании.">{% if success.eat is not empty %} {{ success.eat }} {% endif %}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="diabet">Вы диабетик?</label>
                        <div class="col-xs-9">
                            <input type="checkbox" class="checkbox" id="diabet" {% if success.diabet != 0 %} checked="checked" {% endif %}>
                            <label for="diabet"></label>
                        </div>
                    </div>
                    <div class="form-group has-feedback" style="display: {% if success.diabet != 0 %} block {% else %} none {% endif %}" id="diabetForm">
                        <label class="control-label col-xs-3">Какая у Вас диета?</label>
                        <div class="col-xs-2">
                            <label class="radio-inline">
                                <input type="radio" name="diabet" value="1" {% if success.diabet == 1 %} checked {% endif %}> #1
                            </label>
                        </div>
                        <div class="col-xs-2">
                            <label class="radio-inline">
                                <input type="radio" name="diabet" value="2" {% if success.diabet == 2 %} checked {% endif %}> #2
                            </label>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-xs-3">Ваше фото</label>
                        <div class="col-xs-2">
                            <img id="image" class="profil-image" src="{{ success.photo }}">
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-xs-3">Добавьте Ваше фото:</label>
                        <div class="col-xs-9">
                            <span class="btn btn-success fileinput-button" id="neadhight">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Выберите фаил...</span>
                                <input type="hidden" value="" id="photo" name="photo">
                                <input id="fileupload" type="file" name="files[]">
                            </span>
                        </div>
                        <div id="files" class="files"></div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input type="submit" class="btn btn-primary" value="Обновить данные">
                            <input type="reset" class="btn btn-default" value="Очистить форму">
                        </div>
                    </div>
                </form>
            </div>

            <script>
                (function($){
                    var action = {
                        option: {
                            f1: '#form1',
                            f2: '#form2',
                            ef: '#eatForm',
                            df: '#diabetForm',
                            af: '#firstReg',
                            ae: '#eat',
                            ad: '#diabet'
                        },
                        init: function(){
                            var _this = this;
                            window.onload = function() {
                                _this.bind_form();
                                _this.bind_item();
                            };
                        },
                        bind_form: function(){
                            var _this=this,o=_this.option;
                            $(o.af).on('change',function(){ _this.form_toggle(o.af, o.f1, o.f2); });
                            $(o.af).on('click',function(){ _this.myButton(o.af); });
                        },
                        bind_item: function(){
                            var _this=this,o=_this.option;
                            $(o.ae).on('change',function(){ _this.item_toggle(o.ae, o.ef); });
                            $(o.ad).on('change',function(){ _this.item_toggle(o.ad, o.df); });
                        },
                        form_toggle: function(a, e1, e2){
                            var _this=this,o=_this.option,ba=$(a),d1=$(e1),d2=$(e2);
                            if(ba.prop("checked")) {
                                d1.show();
                                d2.hide();
                            }else {
                                d1.hide();
                                d2.show();
                            }
                        },
                        item_toggle: function(a, e){
                            var _this=this,o=_this.option,ba=$(a),s=$(e);
                            if(ba.prop("checked")) {
                                s.show();
                            }else {
                                s.hide();
                            }
                        },
                        myButton: function(id) {
                            var c= $(id);
                            if(c.prop("checked")) {
                                $(id).siblings('label').html("Да");
                            } else {
                                $(id).siblings('label').html("Нет");
                            }
                        }
                    };
                    $(document).ready(function(){
                        action.init();
                    });
                })(jQuery);
            </script>
            <script>
                $(document).ready(function() {
                    $("#ajaxform").submit(function(){
                        var form = $(this);
                            $.ajax({
                                type: 'POST',
                                url: '/reg/edit.html',
                                dataType: 'json',
                                data: form.serialize(),
                                beforeSend: function(data) {
                                    form.find('input[type="submit"]').attr('disabled', 'disabled');
                                },
                                success: function(data){
                                    if (data['error']) {
                                    } else {
                                        $("#form1").hide(300);
                                        $("#success-form").show(300);
                                    }
                                },
                                complete: function(data) {
                                    form.find('input[type="submit"]').prop('disabled', false);
                                }

                            });
                        return false;
                    });
                });
            </script>
            <script>
                $(function(){
                    $('#data-readd').click(function(){
                        $("#form1").show(300);
                        $("#success-form").hide(300);
                    });
                });
            </script>
            <link href="{{ url('homepage') }}view/css/jquery.fileupload.css" rel="stylesheet">
            <script src="{{ url('homepage') }}view/js/vendor/jquery.ui.widget.js"></script>
            <script src="{{ url('homepage') }}view/js/jquery.iframe-transport.js"></script>
            <script src="{{ url('homepage') }}view/js/jquery.fileupload.js"></script>
            <script>
                $(function () {
                    //'use strict';
                    // Change this to the location of your server-side upload handler:
                    $('#fileupload').fileupload({
                        dropZone: $('body'),
                        url: '/reg/upl.html',
                        dataType: 'json',
                        done: function (e, data) {
                            $.each(data.result.files, function (index, file) {
                                $("#neadhight").hide(300);
                                $('#photo').val(file['url']);
                                $('#image').attr('src', file['url']);
                                $('<p/>').text(file.name).appendTo('#files');
                            });
                        },
                    }).prop('disabled', !$.support.fileInput)
                            .parent().addClass($.support.fileInput ? undefined : 'disabled');
                });
            </script>

        {% else %}

            <div class="row">
                <div class="col-md-12">
                    <div class="secHeader">
                        <h1 class="text-center">Персональные данные</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="text-center"><img class="profil-image" src="{{ success.photo }}"></div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-xs-6"><b>ID</b></div><div class="col-md-6 col-xs-6">{{ success.id }}</div>
                        <div class="col-md-6 col-xs-6"><b>Фамилия</b></div><div class="col-md-6 col-xs-6">{{ success.lastName }}</div>
                        <div class="col-md-6 col-xs-6"><b>Имя</b></div><div class="col-md-6 col-xs-6">{{ success.firstName }}</div>
                        <div class="col-md-6 col-xs-6"><b>Отчество</b></div><div class="col-md-6 col-xs-6">{% if success.fatherName is empty %} Не указанно {% else %} {{ success.fatherName }} {% endif %}</div>
                        <div class="col-md-6 col-xs-6"><b>Дата рожения</b></div><div class="col-md-6 col-xs-6">{{ success.dateBirth }}</div>
                        <div class="col-md-6 col-xs-6"><b>E-Mail</b></div><div class="col-md-6 col-xs-6">{{ success.email }}</div>
                    </div>
                </div>
            </div>

            <div class="btn-find-form">
                <div class="row">
                    <div class="col-md-6 col-xs-12 text-center">
                        <a  href="#" class="btn btn-primary" data-toggle="modal" data-target="#Modal-login">Редактировать данные</a>
                    </div>
                    <div class="col-md-6 col-xs-12 text-center">
                        <a  href="#" class="btn btn-success" data-toggle="modal" data-target="#Modal-pay">Подать заявку</a>
                    </div>
                </div>
            </div>

            <div id="Modal-login" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="myModalLabel">Вход</h2>
                        </div>
                        <div class="modal-body">
                            <form role="form" method="post" action="/reg/find.html">
                                <div class="form-group">
                                    <input type="id" class="form-control" id="email" placeholder="Введите ID" name="login" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="pass" placeholder="Введите пароль" name="pass" required="required">
                                </div>
                                <button type="submit" class="btn btn-success">Войти</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

        {% if error is not defined %}

        <div id="Modal-pay" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="myModalLabel">Подача заявки на участие</h2>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <form class="form-horizontal" method="POST" accept-charset="utf-8" id="payForm">

                                <input type="hidden" name="ik_co_id" value="57c6b2943c1eaf5d4f8b4573" />
                                <input type="hidden" name="ik_pm_no" value="{{ pay_id }}" />
                                <input type="hidden" name="ik_desc" value="Благотворительный взнов №{{ pay_id }})" />
                                <input type="hidden" name="ik_int" value="json" />
                                <input type="hidden" name="ik_act" value="process" />

                                    <div class="col-xs-6">
                                        <select size="1" id="cur" class="form-control">
                                            <option selected disabled>Выберите валюту</option>
                                            <option id='rur' value='rur'>Руб</option>
                                            <option id='usd' value='usd'>Usd</option>
                                            <option id='eur' value='eur'>Eur</option>
                                            <option id='uah' value='uah'>Грн</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <select size="1" id="paymetsel" name="ik_pw_via" class="form-control">
                                            <option value="">Выберите платежную систему</option>
                                            {% for paymetod in paymetods %}
                                                <option value="{{ paymetod.als }}" class="{{ paymetod.curAls }}">{{ paymetod.name.0.v }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                <script>
                                    jQuery(document).ready(function(){
                                        jQuery("#paymetsel").chained("#cur");
                                    });
                                </script>


                                <div class="cost col-xs-12">Стоимость обработки данных <span class="cost_val">{{ cost }} Рублей.</span>*</div>
                                <input type="hidden" name="ik_am" value="{{ cost }}" />
                            </form>
                            <div class="col-xs-12 cost_text">* Окончательная стоимость может отличаться в зависимости от платежной системы и выбранной валюты.</div>

                            <form id="sendpay" class="text-center" style="display: none"></form>
                            <script>

                                (function($){
                                    $('#paymetsel').on('change',function(){query(); });

                                    var query = function(){
                                        var ajax = $.ajax({
                                            url: 'http://vkarpati.in.ua/api/gpi.html',
                                            data: $('#payForm').serialize(),
                                            dataType: 'json',
                                            type: 'post'
                                        });
                                        ajax.done(function(json){
                                            if (typeof json['resultData'] != 'undefined'){
                                                var j = json['resultData']['paymentForm'];
                                                var f = $('#sendpay');

                                                if (typeof j['method'] != 'undefined' && typeof j['action'] != 'undefined' && typeof j['parameters'] != 'undefined'){
                                                    f.html("")
                                                            .attr("method",j['method'])
                                                            .attr("action",j['action']);

                                                    $.each (j['parameters'], function( k, v ){
                                                        f.append('<input type="hidden" name="'+ k +'" value="'+ v +'">');
                                                    });

                                                    f.append('<button type="submit" class="btn btn-success">Оплатить</button>');
                                                    f.show(300);
                                                }
                                            }
                                        }).fail(function(){

                                        });
                                    };
                                })(jQuery);

                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
