{% extends 'layout.twig' %}
{% block content %}
    <div class="container">
        <div class="cb1">
            <img src="view/images/content/b1.jpg">
            <div class="cb1-text-block">
                <div class="cb1-text1"></div><br>
                <div class="cb1-text2"></div><br>
                <div class="cb1-text1"></div><br>
                <div class="cb1-text2"></div><br>
                <div class="cb1-text1"></div><br>
                <div class="cb1-text2"></div>
            </div>
            <div class="cb1-2"><img src="view/images/content/b2.jpg"></div>
            <div class="cb1-3">
                <div class="cb1-text-block2">
                    <div class="cb1-text-block2-1">две незабываемые недели отпуска <br> и абсолютно любой сможет почувствовать себя</div>
                    <div class="cb1-text-block2-2">миллионером!</div>
                </div>
                <img src="view/images/content/b3.jpg">
            </div>
        </div>
    </div>

    <div class="section1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="secHeader">
                        <h1 class="text-center cb2-1">принимай участие</h1>
                        <p class="text-center cb2-2">всего 3 шага отделяют тебя от мечты!</p>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="blok text-center">
                                <div class="block-figur">
                                    <div class="circle">
                                        <div class="hexagon">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <h4>Регистрация</h4>
                                <p>Любой человек достигший возраста 18 лет, может зарегистрироваться и принять участие в нашем Реалити-шоу.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="blok text-center">
                                <div class="block-figur">
                                    <div class="circle">
                                        <div class="hexagon">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <h4>отбор</h4>
                                <p>Компьютерная программа проводит отбор счастливчиков раз в месяц. Регистрация возможна неограниченное количесво раз.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="blok text-center">
                                <div class="block-figur">
                                    <div class="circle">
                                        <div class="hexagon">
                                            <i class="fa fa-diamond" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <h4>участие</h4>
                                <p>Каждый участник получит банковскую карту на счету которой $500. Этой суммой возможно будет распоряжаться на свое усмотрение.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section2">
        <div class="container">
            <div class="row">
                <div class="s2-l col-xs-12 col-sm-12 col-md-6">
                    <div class="s2-1-1">не упусти свой шанс!</div>
                    <div class="cb2-2">зарегистрируйся прямо сейчас</div>

                    <div class="s2-1-3">* Вы можете зарегистрироваться неограниченное количество раз.<br>
                        ** Раз в месяц в путешествие будет отправляться группа из 5 человек.<br>
                        *** Ваши данные будут находиться в системе в течении двух месяцев.<br>
                        **** Компьютерная программа проводит отбор один раз в месяц.
                    </div>
                </div>

                <div class="s2-r  col-xs-12 col-sm-12 col-md-6">
                    <div class="s2-r-1"><a href="{{ url('reg') }}"> Регистрация  <i class="fa fa-check-circle" aria-hidden="true"></i></a></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="secHeader">
                        <h1 class="text-center cb2-1">зарегистрируйся и стань обладателем</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="text-center blok">
                        <div class="block-figur">
                            <img src="view/images/content/c1.jpg">
                        </div>
                        <h4>каждый 100.000-й</h4>
                        <p>Toyota RAV4</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="text-center blok">
                        <div class="block-figur">
                            <img src="view/images/content/c2.jpg">
                        </div>
                        <h4>каждый миллионный</h4>
                        <p>LEXUS RX350</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="secHeader">
                        <h1 class="text-center cb2-1">наши счастливчики</h1>
                        <p class="text-center cb2-2">15.11.16 - 15.12.16</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="ih-item circle effect3 top_to_bottom"><a href="#">
                            <div class="img"><img src="view/images/luki/l1.jpg"></div>
                            <div class="info">
                                <h3>Владимир</h3>
                                <p>Менеджер</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="ih-item circle effect3 top_to_bottom"><a href="#">
                            <div class="img"><img src="view/images/luki/l2.jpg"></div>
                            <div class="info">
                                <h3>Игорь</h3>
                                <p>Участник</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="ih-item circle effect3 top_to_bottom"><a href="#">
                            <div class="img"><img src="view/images/luki/l3.jpg"></div>
                            <div class="info">
                                <h3>Максим</h3>
                                <p>Участник</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="ih-item circle effect3 top_to_bottom"><a href="#">
                            <div class="img"><img src="view/images/luki/l4.jpg"></div>
                            <div class="info">
                                <h3>Артур</h3>
                                <p>Участник</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="ih-item circle effect3 top_to_bottom"><a href="#">
                            <div class="img"><img src="view/images/luki/l5.jpg"></div>
                            <div class="info">
                                <h3>Heading here</h3>
                                <p>Участник</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="ih-item circle effect3 top_to_bottom"><a href="#">
                            <div class="img"><img src="view/images/luki/l4.jpg"></div>
                            <div class="info">
                                <h3>Heading here</h3>
                                <p>Участник</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="timer">
                <div class="row">
                    <div class="col-md-5 timer-text">до следующего<br> отбора осталось</div>
                    <div class="col-md-7 timer-timer" id="t"></div>
                </div>
            </div>
        </div>
    </div>
<!--
    <div class="section4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="secHeader">
                        <h1 class="text-center cb2-1">Галлерея</h1>
                    </div>
                </div>
            </div>

            <div class="clearfix mosaicflow">
                <div class="mosaicflow__item">
                    <img src="view/images/gal/1.jpg" /></a>
                    <p> Рио-де-Жанейро </p>
                </div>
                <div class="mosaicflow__item">
                    <img src="view/images/gal/3.jpg" /></a>
                    <p> 3 </p>
                </div>
                <div class="mosaicflow__item">
                    <img src="view/images/gal/4.jpg" /></a>
                    <p> 4 </p>
                </div>
                <div class="mosaicflow__item">
                    <img src="view/images/gal/5.jpg" /></a>
                    <p> 5 </p>
                </div>
                <div class="mosaicflow__item">
                    <img src="view/images/gal/2.jpg" /></a>
                    <p> 2 </p>
                </div>
                <div class="mosaicflow__item">
                    <img src="view/images/gal/1.jpg" /></a>
                    <p> Рио-де-Жанейро </p>
                </div>
                <div class="mosaicflow__item">
                    <img src="view/images/gal/3.jpg" /></a>
                    <p> 3 </p>
                </div>
                <div class="mosaicflow__item">
                    <img src="view/images/gal/4.jpg" /></a>
                    <p> 4 </p>
                </div>
                <div class="mosaicflow__item">
                    <img src="view/images/gal/5.jpg" /></a>
                    <p> 5 </p>
                </div>
                <div class="mosaicflow__item">
                    <img src="view/images/gal/3.jpg" /></a>
                    <p> 3 </p>
                </div>
                <div class="mosaicflow__item">
                    <img src="view/images/gal/4.jpg" /></a>
                    <p> 4 </p>
                </div>
            </div>
        </div>
    </div>
-->
    <script type="text/javascript">
        timeend= new Date();
        timeend= new Date(2016,11,15,23,0);
        function time() {
            today = new Date();
            today = Math.floor((timeend-today)/1000);
            tsec=today%60; today=Math.floor(today/60); if(tsec<10)tsec='0'+tsec;
            tmin=today%60; today=Math.floor(today/60); if(tmin<10)tmin='0'+tmin;
            thour=today%24; today=Math.floor(today/24);
            timestr=today +" : "+ thour+" : "+tmin+" : "+tsec;
            document.getElementById('t').innerHTML=timestr;
            window.setTimeout("time()",1000);
        }
    </script>
{% endblock %}
