<!DOCTYPE html>
<html lang="en-us">
<head>
    <!--<title>{{ url('homepage') }} {{ 'hello'|trans }} В отпуск Миллионером. Реалити шоу. </title>-->
    <title>В отпуск Миллионером. Реалити шоу. </title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url('homepage') }}view/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url('homepage') }}view/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url('homepage') }}view/css/main.css" rel="stylesheet">
    <script src="{{ url('homepage') }}view/js/jquery-1.12.4.min.js"></script>
    <script src="{{ url('homepage') }}view/js/jquery.chained.min.js"></script>
    <script src="{{ url('homepage') }}view/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="{{ url('homepage') }}view/images/favicon.ico" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body {% if timer is defined %} onload="time()" {% endif %}>
<div class="mainTop">
    <div class="container">
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-6">
                <div class="mailme">
                    <a href="mailto:info@company.com"><i class="fa fa-envelope"></i>info@bestlife-show.com</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="socials">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter soc"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official soc"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube soc"></i></a></li>
                        <li><a href="#"><i class="fa fa-vk soc"></i></a></li>
                        <li><a href="#"><i class="fa fa-odnoklassniki soc"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus soc"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram soc"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<header class="header">
    <div class="container">
        <a href="{{ url('homepage') }}"><img src="{{ url('homepage') }}view/images/header/logo.png" alt="main-logo"/></a>
        <div class="head-text head-text-i"> Хочешь почувствовать себя МИЛЛИОНЕРОМ? </div>
        <div class="head-text head-text-2"> Осуществи свою мечту вместе с нами! </div>
    </div>

    <div class="mWrapper">
        <div class="container">
            <div class="row">
                <div class="hidden-xs col-sm-2 col-md-2">
                    <div class="logo">
                        <a href="{{ url('homepage') }}"><img src="{{ url('homepage') }}view/images/header/logo_min.png" alt="Powerful Theme"></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <nav class="mainMenu">
                        <ul class="nav">
                            <li><a href="{{ url('about') }}">О Нас</a></li>
                            <!--<li><a href="{{ url('video') }}">Видео</a></li>
                            <li><a href="{{ url('photo') }}">Фото</a></li>
                            <li><a href="{{ url('fan') }}">Фан-клуб</a></li>-->
                        </ul>
                    </nav>

                </div>
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-sm-2 col-md-2">
                    <div class="btn-reg-div">
                        {% if user is not defined or pass is not defined%}
                            <a href="{{ url('reg') }}"><button class="btn btn-danger btn-reg">Регистрация \ Вход</button></a>
                        {% else %}
                            <form action="/reg/find.html" method="post">
                                <input type="hidden" name="login" value="{{ user }}">
                                <input type="hidden" name="pass" value="{{ pass }}">
                                <button type="submit" class="btn btn-success btn-reg">Мой профиль</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-1 col-md-1"></div>
            </div>
        </div>
    </div>
</header>

<content class="content">
    {% block content %}{% endblock %}
</content>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="socials">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter soc"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-official soc"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube soc"></i></a></li>
                        <li><a href="#"><i class="fa fa-vk soc"></i></a></li>
                        <li><a href="#"><i class="fa fa-odnoklassniki soc"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus soc"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram soc"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">

            </div>
            <div class="col-lg-4 col-md-4 fmail">
                e-mail: info@bestlife-show.com
            </div>
        </div>
    </div>
</footer>

<div id="back-top" class="gotop text-center">
    <a href="">Back to top</a>
</div>

<div class="bfWrap text-center">
    <div class="templatemo_footer">Copyright © 2016 "В отпуск Миллионером"</div>
</div>

<script src="{{ url('homepage') }}view/js/jquery.scroolly.js"></script>
<script src="{{ url('homepage') }}view/js/jquery.cookie.js"></script>
<script src="{{ url('homepage') }}view/js/jquery.mosaicflow.min.js"></script>
<link href="{{ url('homepage') }}view/css/ihover.css" rel="stylesheet">
<!-- Bootstrap -->
<script src="{{ url('homepage') }}view/js/modernizr.custom.js"></script>

<script>
    $(document).ready(function(){

        // hide #back-top first
        $("#back-top").hide();

        // fade in #back-top
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#back-top').fadeIn();
                } else {
                    $('#back-top').fadeOut();
                }
            });

            // scroll body to 0px on click
            $('#back-top a').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });
        });

    });
</script>

<script src="{{ url('homepage') }}view/js/stickUp.min.js" type="text/javascript"></script>
<script type="text/javascript">
    //initiating jQuery
    jQuery(function($) {
        $(document).ready( function() {
            //enabling stickUp on the '.navbar-wrapper' class
            $('.mWrapper').stickUp();
        });
    });
</script>

<script>
    $('.header1').scroolly([
        {
//                    from: 'doc-top',
            to: 'el-bottom = vp-top',
            cssFrom: {
//                        '-border-radius': '0px'
//                        'background-position': 'center 30%'
//                        'opacity': '1'
            },
            cssTo: {
//                        '-border-radius': '400px'
//                        'background-position': 'center 90%'
//                        'opacity': '.1'
            },
            onScroll: function(element, offset, length){
                var progress = offset / length;

                element.css('background-position', 'center '+$.scroolly.getTransitionFloatValue(30, 90, progress)+'%');
            }
        },
        {
            from: 'el-center = vp-top',
            to: 'el-bottom = vp-top',
            cssFrom: {
//                        'background-position': 'center 0px',
//                        'opacity': '1'
            },
            cssTo: {
//                        'background-position': 'center 200px',
//                        'opacity': '.1'
            }
        }
    ]);
    $('.header1 h1').scroolly([
        {
            from: 'con-top',
            to: 'con-bottom = top',
            cssFrom:{
                'text-shadow': '0 0 0px white',
//                        'bottom': '100px',
                'transform': 'translateY(0px)',
                'opacity': '1'
            },
            cssTo:{
                'text-shadow': '0 0 30px white',
//                        'bottom': '10px',
                'transform': 'translateY(100px)',
                'opacity': '.1'
            }
        }
    ], $('.header'));
</script>

</body>
</html>
