{{ firstName }}, спасибо за регистрацию! Ваш ID {{ userId.0 }} и пароль {{ password }}
Эти данные необходимы для редактирования персональных данных. Не сообщайте эти данные третьим лицам.
Отсчет времени до начала розыгриша, указан в нижней части главной страницы сайта. По окончании этого времени, компьютер произведет отбор пяти счастливых обладателей номеров,
фотографии которых, вы увидите на странице сайта и с этой минуты начинается отсчет начала нового времени для участия в розыгрише,
в которой вы можете снова принять участие, внеся только свой номер ID, пароль и подать заявку на участие. Так же напоминаем, что вы можете производить оплату неограниченное количество раз,
увеличивая этим самым, свои шансы стать победителем в нашем Реалити-Шоу "В отпуск Миллионером"!
Напоминаем что если в течении 14 дней вы не подадите ниединой заявки на участие, Ваша учетная запись будет удалена.
Чем больше заявок, тем больше шансов на уастие!