{% extends 'layout.twig' %}
{% block content %}
    <div class="container">

        {% if status == 'success' or status == 'new' or status == 'waitAccept' or status == 'process' %}
            <div class="row">
                <div class="col-md-12">
                    <div class="secHeader">
                        <h1 class="text-center">Поздравляем!</h1>
                        <p class="text-center">Ваш платеж номер {{ no }} проведен со статусом {{ status }}!</p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <div class="secHeader">
                        <h1 class="text-center">Платеж не проведен!</h1>
                        <p class="text-center">Ваш платеж номер {{ no }} не проведен. Платежная система вернула статус {{ status }}!</p>
                        <p class="text-center">За подробной информацией обратитесь в службу технической поддержки Вашего банка или платежной системы.</p>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}