{% extends 'layout.twig' %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="secHeader">
                        <h1 class="text-center">Регистрация</h1>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-6 col-md-3">Это первая регистрация?</label>
                        <div class="col-xs-6 col-md-9">
                            <input type="checkbox" checked class="checkbox" id="firstReg" >
                            <label for="firstReg">Да</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="form1">
                <div class="col-xs-12 col-md-6">
                    <form class="form-horizontal" action="/reg/add.html" method="POST" autocomplete="on" accept-charset="utf-8" id="firstRegForm">
                        <div class="form-group has-feedback {% if error.lastName is defined %} has-error {% endif %}">
                            <label class="control-label col-xs-3" for="lastName">Фамилия:</label>
                            <div class="col-xs-9">
                                <input type="text"
                                       class="form-control"
                                       name="lastName"
                                       required="required"
                                       id="lastName"
                                       value="{% if lastName is defined %} {{ lastName }} {% endif %}"
                                       placeholder="Введите фамилию">
                            </div>
                        </div>
                        <div class="form-group has-feedback {% if error.firstName is defined %} has-error {% endif %}">
                            <label class="control-label col-xs-3" for="firstName">Имя:</label>
                            <div class="col-xs-9">
                                <input type="text"
                                       class="form-control"
                                       name="firstName"
                                       required="required"
                                       id="firstName"
                                       value="{% if firstName is defined %} {{ firstName }} {% endif %}"
                                       placeholder="Введите имя">
                            </div>
                        </div>
                        <div class="form-group has-feedback {% if error.dateBirth is defined %} has-error {% endif %}">
                            <label class="control-label col-xs-3">Дата рождения:</label>
                            <div class="col-xs-3">
                                <input type="number"
                                       class="form-control"
                                       maxlength="4"
                                       max="1998"
									   min="1940"
                                       name="dateBirth-year"
                                       required="required"
                                       id="dateBirth"
                                       placeholder="YYYY">
                            </div>
                            <div class="col-xs-3">
                                <input type="number"
                                       class="form-control"
                                       maxlength="2"
                                       min="01"
                                       max="12"
                                       name="dateBirth-mons"
                                       required="required"
                                       id="dateBirth"
                                       placeholder="MM">
                            </div>
                            <div class="col-xs-3">
                                <input type="number"
                                       class="form-control"
                                       maxlength="2"
                                       min="01"
                                       max="31"
                                       name="dateBirth-day"
                                       required="required"
                                       id="dateBirth"
                                       placeholder="DD">
                            </div>
                        </div>
                        <div class="form-group has-feedback {% if error.email is defined %} has-error {% endif %}">
                            <label class="control-label col-xs-3" for="inputEmail">Email:</label>
                            <div class="col-xs-9">
                                <input type="email"
                                       class="form-control"
                                       name="inputEmail"
                                       required="required"
                                       id="inputEmail"
                                       value="{% if email is defined %} {{ email }} {% endif %}"
                                       placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group has-feedback {% if error.phone is defined %} has-error {% endif %}">
                            <label class="control-label col-xs-3" for="phoneNumber">Телефон:</label>
                            <div class="col-xs-9">
                                <input type="tel"
                                       class="form-control"
                                       id="phoneNumber"
                                       required="required"
                                       name="phoneNumber"
                                       value="{% if phone is defined %} {{  phone }} {% endif %}"
                                       placeholder="Введите номер телефона в муждународном формате">
                            </div>
                        </div>
                        <div class="form-group has-feedback {% if error.agree is defined %} has-error {% endif %}">
                            <div class="col-xs-offset-3 col-xs-9">
                                <label class="checkbox-inline">
                                    <input type="checkbox"
                                           name="agree"
                                           value="true"
                                           required="required"
                                           checked>  Я согласен с <a  href="#" data-toggle="modal" data-target="#Modal">условиями</a>.
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-xs-offset-3 col-xs-9">
                                <input type="submit" class="btn btn-primary" value="Регистрация">
                                <input type="reset" class="btn btn-default" value="Очистить форму">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-md-6">
                    <p>
                        После регистрации Вы получите по электронной почте данные для входа на сайт.
                    </p>
                    <p>
                        По условиям соглашения, если в течении 14 дней мы не получим от Вас ни одной заявки, учетная запись будет удалена в автоматическом режиме.
                    </p>
                    <p>
                        Напоминаем что, чем больше заявок на участие, тем больше шансов на участие в проекте!
                    </p>
                </div>
            </div>

            <div id="Modal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="myModalLabel">Условия соглашения</h2>
                        </div>
                        <div class="modal-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas, dolor tincidunt viverra laoreet, orci est dapibus orci, ut consectetur eros turpis quis metus. Curabitur quam ex, finibus in fringilla vel, volutpat interdum nulla. Integer eu arcu ac urna maximus viverra at sed orci. Quisque a placerat dolor. Aliquam id suscipit dolor. Phasellus ante velit, iaculis ut euismod in, finibus eu ipsum. Duis lectus orci, dignissim nec enim et, laoreet eleifend mi. Mauris pharetra risus mauris, vel hendrerit elit maximus nec. Vestibulum nec fringilla lectus. Donec viverra magna odio, sed tincidunt ante rutrum non. Proin odio justo, maximus tempus interdum eu, sodales eu odio. Ut vel urna volutpat, ornare diam condimentum, accumsan magna. Praesent placerat at mauris ac dapibus. Sed mollis condimentum leo, non blandit velit iaculis at. Proin in accumsan tellus, quis imperdiet felis.
                            </p><p>
                                Praesent aliquet augue sed ex semper, eget finibus lorem consectetur. Sed feugiat vestibulum velit, nec gravida arcu. Nulla ac ante metus. Morbi luctus eget sem quis fermentum. In hac habitasse platea dictumst. Vestibulum semper, sem sed ultrices fermentum, purus urna tempus massa, vel varius diam justo nec massa. Phasellus tristique libero quis neque vulputate, egestas pulvinar purus malesuada. Aliquam vitae malesuada risus, vitae placerat sapien. Praesent suscipit, augue at dignissim efficitur, turpis orci sagittis ipsum, eu dignissim sapien ligula non odio. Nam turpis dolor, aliquet maximus purus vel, fermentum congue sapien. Proin a ullamcorper dolor, vestibulum luctus nibh.
                            </p><p>
                                Donec metus metus, malesuada sed euismod vitae, egestas at nisl. Nulla facilisi. Praesent ante erat, aliquam eu dolor eget, finibus lacinia purus. Suspendisse nec eros imperdiet, laoreet justo et, ornare nisi. Cras imperdiet lacinia dapibus. Nam venenatis quam a mi auctor bibendum. Curabitur aliquet erat lectus. Nam suscipit, metus vel sagittis consequat, metus dolor rutrum dui, sit amet pellentesque nisi sapien tincidunt nibh. Nulla lacinia sollicitudin ipsum, quis ultricies tortor commodo quis. Vivamus vel tortor gravida mauris aliquam ultricies. Nulla euismod urna in tortor lobortis efficitur sed sed neque. Suspendisse potenti. Vivamus auctor pretium posuere.
                            </p><p>
                                Aliquam sit amet posuere mi. Donec at augue id nisi condimentum tempor. Ut suscipit enim turpis, et imperdiet urna feugiat imperdiet. Mauris non risus velit. Mauris sed eleifend metus, vel rutrum erat. Fusce fermentum turpis quis mattis tincidunt. Mauris sollicitudin facilisis fringilla. Praesent at nisi at neque pellentesque consequat nec in sem. Vivamus blandit porttitor odio, eget vehicula lacus porta dictum. Mauris viverra scelerisque arcu ac hendrerit.
                            </p><p>
                                Vivamus accumsan rhoncus lectus, ut cursus erat gravida at. Donec in mi enim. Ut odio quam, vestibulum sit amet finibus id, pulvinar a arcu. Cras sit amet urna egestas, dictum arcu eget, sagittis quam. Nulla blandit elementum nisl, nec hendrerit nisi cursus at. Donec sit amet faucibus erat. Phasellus vel blandit mauris, at fringilla purus. Phasellus sit amet vestibulum felis, non iaculis metus. Fusce ut commodo tellus. Integer euismod sed neque id tincidunt. In neque quam, tincidunt at nibh at, pulvinar ultricies diam. In vitae sagittis tortor. Aliquam scelerisque massa erat, in porttitor tortor finibus ut.
                            </p><p>
                                Nam efficitur velit lacus, ut efficitur orci efficitur vel. Cras egestas odio non ante varius sollicitudin. Curabitur arcu augue, gravida sed tortor ac, varius egestas mauris. Nullam ultricies sed turpis a sagittis. Curabitur vehicula erat eu tortor consectetur, dictum vulputate sapien pulvinar. Nam a sem lectus. Praesent scelerisque leo ac vulputate venenatis. Vivamus sagittis metus quis tellus tristique, quis accumsan enim gravida. Sed maximus condimentum nulla consequat rutrum. Duis consequat lacus molestie, iaculis ipsum id, aliquam sapien.
                            </p><p>
                                Integer pulvinar tempor malesuada. Aenean ac condimentum leo. Nunc a convallis ipsum. Quisque facilisis velit in metus viverra, et sagittis sem dictum. Sed ultrices neque et porta sollicitudin. Proin nec orci ac lectus ultrices rhoncus finibus porttitor ex. In id dui mauris. Mauris risus eros, convallis nec felis vel, vulputate bibendum ante. Ut ullamcorper neque molestie cursus ullamcorper.
                            </p><p>
                                Quisque tempor purus non cursus scelerisque. Vivamus at vulputate purus, at ultrices turpis. Nunc condimentum pretium nibh vitae pharetra. Fusce porttitor magna ex, a cursus ex dignissim eu. Pellentesque lobortis erat ac nulla pretium, nec laoreet arcu sollicitudin. Aliquam convallis nisi ac enim faucibus imperdiet. Sed cursus nisl nulla, non varius mi aliquet vitae. Vestibulum pulvinar, dui vitae egestas tincidunt, tortor ex iaculis nisi, vitae suscipit orci nulla et tortor.
                            </p><p>
                                Aenean ac sapien auctor leo egestas sollicitudin. Vestibulum quis risus egestas, semper lorem in, semper erat. Donec et porta mauris, at mollis ex. Fusce vel dapibus lorem. Phasellus eu ipsum mi. Morbi lorem diam, cursus quis nunc non, elementum consequat ante. Nulla gravida lorem ut dolor mollis vulputate. Donec sodales urna eu odio pharetra ullamcorper. Suspendisse gravida ultricies nulla ut gravida. Nunc pulvinar turpis vitae eleifend volutpat. Fusce tincidunt convallis justo, ullamcorper molestie purus dignissim a. Proin gravida et justo sit amet malesuada. Aenean dui lectus, hendrerit in condimentum id, eleifend a metus. Vivamus lectus libero, elementum vel aliquet ut, consequat eget elit. Sed eu pellentesque neque.
                            </p><p>
                                Fusce at sodales justo. Proin volutpat ultrices sapien a ullamcorper. Integer luctus malesuada odio et ullamcorper. Mauris ac porta arcu. Vivamus fringilla mauris at vestibulum varius. Maecenas nisl tellus, sagittis vel convallis nec, porttitor eget diam. Nulla commodo ornare nibh iaculis tempus. Suspendisse vehicula vulputate volutpat. Phasellus ligula sapien, scelerisque vel finibus in, tempor at lacus. </p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="form2" style="display: none">
                <form action="/reg/find.html" method="POST" accept-charset="utf-8" class="form-horizontal">
                    <div class="form-group has-feedback">
                        <label class="control-label col-xs-3" for="postalAddress">Введите ваш ID</label>
                        <div class="col-xs-9">
                            <input type="number" min="1" name="login" class="form-control" required="required" id="login" placeholder="Он был вам выдан при предыдущей регистрации.">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input type="submit" class="btn btn-primary" value="Найти">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <script>
        (function($){
            var action = {
                option: {
                    f1: '#form1',
                    f2: '#form2',
                    ef: '#eatForm',
                    df: '#diabetForm',
                    af: '#firstReg',
                    ae: '#eat',
                    ad: '#diabet'
                },
                init: function(){
                    var _this = this;
                    window.onload = function() {
                        _this.bind_form();
                        _this.bind_item();
                    };
                },
                bind_form: function(){
                    var _this=this,o=_this.option;
                    $(o.af).on('change',function(){ _this.form_toggle(o.af, o.f1, o.f2); });
                    $(o.af).on('click',function(){ _this.myButton(o.af); });
                },
                bind_item: function(){
                    var _this=this,o=_this.option;
                    $(o.ae).on('change',function(){ _this.item_toggle(o.ae, o.ef); });
                    $(o.ad).on('change',function(){ _this.item_toggle(o.ad, o.df); });
                },
                form_toggle: function(a, e1, e2){
                    var _this=this,o=_this.option,ba=$(a),d1=$(e1),d2=$(e2);
                    if(ba.prop("checked")) {
                        d1.show();
                        d2.hide();
                    }else {
                        d1.hide();
                        d2.show();
                    }
                },
                item_toggle: function(a, e){
                    var _this=this,o=_this.option,ba=$(a),s=$(e);
                    if(ba.prop("checked")) {
                        s.show();
                    }else {
                        s.hide();
                    }
                },
                myButton: function(id) {
                    var c= $(id);
                    if(c.prop("checked")) {
                        $(id).siblings('label').html("Да");
                    } else {
                        $(id).siblings('label').html("Нет");
                    }
                }
            };
            $(document).ready(function(){
                action.init();
            });
        })(jQuery);
    </script>

{% endblock %}
