{% extends 'layout.twig' %}
{% block content %}
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                   <div class="secHeader">
                       <h1 class="text-center">Поздравляем!</h1>
                       <p class="text-center"> Вы удачно зарегистрированны!</p>
                       <p class="text-center">Ваш ID <b>{{ userId.0 }}</b> После получения платежа Вам на почту прийдет письмо с Вашим биллетом.</p>
                       <p class="text-center">Пожалуйста, заполните оставшиеся поля для окончательной регистрации</p>
                          <form action="/reg/find.html" method="POST" accept-charset="utf-8">
                             <input type="hidden" name="login" value="{{ userId.0 }}">
                             <input type="hidden" name="pass" value="{{ password }}">
                             <div class="text-center"><button class="btn btn-info" type="submit">Продолжить регистрацию</button></div>
                          </form>
                       <p class="text-center">Напоминаем! Вы можете преобрести не ограниченное количество биллетов. Чем больше биллетов, тем больше шансов на выигрыш!</p>
                   </div>
               </div>
            </div>
       </div>
    {% endblock %}